img {
    width: 300px;
    
}

header {
    background-color: rgb(221, 245, 5);

}

section{
    padding: 40px 0;
}

#about {
    text-align: center;
}

#about img {
    width: 25%;
}

.products-div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.product {
    border: 1px solid #18f005;
    border-radius: 10px;
    padding: 20px;

    width: 280px;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.product-img {
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
    
}

.cart-products {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;

}

.cart-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #330ce4;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #64626b;
}

.count-box{
    display: flex;
    align-items: center;
    gap: 10px;

}

.count-box input {
    width: 60px;
    text-align: center;
}   

.product:hover {
    box-shadow: 5px 5px 30px rgb(0, 0, 0);
}
.order-btn:hover {
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}